
<div id="sub_leftwrap">
    <div class="sub_gnbwrap">
        @*<ul>
                @if (ViewBag.LeftMenu == Global.BizMng)//사업관리기관 관리
                {
                    <li class="title left_text">사업기관 관리</li>
                    <li><a href="@Url.Action("BizManager","BizManager",new { area= "SysManager" })" class="gnb gnb_bizMng">사업기관 관리</a></li>
                    <li><a href="@Url.Action("RegBizManager","BizManager",new { area= "SysManager" })" class="gnb gnb_regBizMng">사업기관 등록</a></li>
                }

                else if (ViewBag.LeftMenu == Global.Report)//보고서관리
                {
                    <li class="title left_text">보고서</li>
                    <li><a href="@Url.Action("BasicSurveyReport","Report",new { area= "SysManager" })" class="gnb gnb_basicReport">기초경영역량 보고서</a></li>
                }
                else
                {

                }
            </ul>*@
        <div class="navi_left">
            @if (Session[Global.UserType].Equals(Global.SysManager))
            {
                <a href="@Url.Action("Index","Main", new { area ="SysManager" })"><div class="kath_logo"></div></a>
            }
            else if (Session[Global.UserType].Equals(Global.Company))
            {
                <a href="@Url.Action("Index","Main", new { area ="Company" })"><div class="kath_logo"></div></a>
            }
            else if (Session[Global.UserType].Equals(Global.Mentor))
            {
                <a href="@Url.Action("Index","Main", new { area ="Mentor" })"><div class="kath_logo"></div></a>
            }
            else if (Session[Global.UserType].Equals(Global.BizManager))
            {
                <a href="@Url.Action("Index","Main", new { area ="BizManager" })"><div class="kath_logo"></div></a>
            }
            <div class="bg_col_g">
                @if (Session[Global.UserType].Equals(Global.Company))
                {
                    <ul>
                        <li><div class="iconBox"><div class="vc_iconSB_02"></div><a href="@Url.Action("BasicSurvey","Report", new { area ="Company" })" class="vc_title_01 fw_600">보고서</a></div></li>
                        <li><div class="iconBox"><div class="vc_iconSB_06"></div><a href="@Url.Action("BASupervise","BAMng", new { area ="Company" })" class="vc_title_02 fw_600">전문기관(BA) 관리</a></div></li>
                    </ul>
                }
                else if (Session[Global.UserType].Equals(Global.Mentor))
                {
                    <ul>
                        <li><div class="iconBox"><div class="vc_iconSB_02"></div><a href="@Url.Action("BasicSurveyReport","Report", new { area ="Mentor" })" class="vc_title_01 fw_600">보고서</a></div></li>
                        <li><div class="iconBox"><div class="vc_iconSB_03"></div><a href="@Url.Action("RegMentoringReport", "MentoringReport", new { area ="Mentor" })" class="vc_title_02 fw_600">멘토링관리</a></div></li>
                    </ul>
                }
                else if (Session[Global.UserType].Equals(Global.BizManager))
                {
                    <ul>
                        <li><div class="iconBox"><div class="vc_iconSB_02"></div><a href="@Url.Action("BasicSurveyReport","Report", new { area ="BizManager" })" class="vc_title_01 fw_600">보고서</a></div></li>
                        <li><div class="iconBox"><div class="vc_iconSB_03"></div><a href="@Url.Action("MentorList","MentorMng", new { area ="BizManager" })" class="vc_title_02 fw_600">멘토링관리</a></div></li>
                    </ul>
                }
                else if (Session[Global.UserType].Equals(Global.SysManager))
                {
                    <ul>
                        <li><div class="iconBox"><div class="vc_iconSB_01"></div><a href="@Url.Action("CompStateManage", "ConditionManagement",new { area= "SysManager" })" class="vc_title_01 fw_600">현황관리</a></div></li>
                        <li><div class="iconBox"><div class="vc_iconSB_10"></div><a href="@Url.Action("BasicSurveyReport","Report",new { area= "SysManager" })" class="vc_title_10 fw_600">보고서</a></div></li>
                    </ul>
                }
            </div>
        </div>

    </div><!--sub_gnbwrap//-->
</div><!--sub_leftwrap//-->
